<h1><%= @user.email %>'s Items</h1>

<table class="table table-hover table-striped">
  <thead>
    <th>Item</th>
    <th>Time Remaining</th>
    <th></th>
  </thead>
  <%= render @items %>
</table>

<%= render "items/form" %>
